USE [DelfinContext]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](60) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[TipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON
INSERT [dbo].[Usuarios] ([Id], [User], [Password], [TipoUsuario]) VALUES (1, N'Mariela', N'2de6a66c6ecd44f95f15eb40551119aa340600a1f0ca2833c2547ce28514986f', 5)
INSERT [dbo].[Usuarios] ([Id], [User], [Password], [TipoUsuario]) VALUES (2, N'Emanuel', N'60de7b6f3645c7000e25a874752531a45f1cde171d0a3a8eaf8d8022028aad89', 1)
INSERT [dbo].[Usuarios] ([Id], [User], [Password], [TipoUsuario]) VALUES (3, N'Tatin', N'c1cd31549eaec6a11bc742c06ed543fa2081486e8815e68eea0f3b7341bf4870', 4)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  Table [dbo].[TipoUsuarios]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TipoUsuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedors]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Razon_social] [nvarchar](max) NULL,
	[Domicilio] [nvarchar](max) NULL,
	[telefono] [nvarchar](max) NULL,
	[celular] [nvarchar](max) NULL,
	[observaciones] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Proveedors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Proveedors] ON
INSERT [dbo].[Proveedors] ([Id], [Razon_social], [Domicilio], [telefono], [celular], [observaciones]) VALUES (1, N'Coca Cola', N'San martin 2323', N'42142142', N'421424552', N'Gaseosas en especial la Coke y la Coke Zero')
INSERT [dbo].[Proveedors] ([Id], [Razon_social], [Domicilio], [telefono], [celular], [observaciones]) VALUES (2, N'Pepsi', N'Juan Domingo 234', N'21312421', N'12412421', N'Gaseoas Pepsi')
INSERT [dbo].[Proveedors] ([Id], [Razon_social], [Domicilio], [telefono], [celular], [observaciones]) VALUES (3, N'Marolio', N'Puerreydon 234', N'213421421', N'214214213', N'Aceite')
SET IDENTITY_INSERT [dbo].[Proveedors] OFF
/****** Object:  Table [dbo].[Categorias]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (1, N'Jugos')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (2, N'Polenta')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (3, N'Arroz')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[SubTotal] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Iva] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Compras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productoes]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioCosto] [decimal](18, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[CategoriaProductoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Productoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productoes] ON
INSERT [dbo].[Productoes] ([Id], [Nombre], [Cantidad], [PrecioCosto], [PrecioVenta], [Imagen], [CategoriaProductoId]) VALUES (1, N'Tank', 10, CAST(20.00 AS Decimal(18, 2)), CAST(40.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[Productoes] ([Id], [Nombre], [Cantidad], [PrecioCosto], [PrecioVenta], [Imagen], [CategoriaProductoId]) VALUES (2, N'Susarrelli 1kg', 10, CAST(20.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), NULL, 3)
INSERT [dbo].[Productoes] ([Id], [Nombre], [Cantidad], [PrecioCosto], [PrecioVenta], [Imagen], [CategoriaProductoId]) VALUES (3, N'Pacco 90 ml', 10, CAST(150.00 AS Decimal(18, 2)), CAST(266.00 AS Decimal(18, 2)), NULL, 8)
SET IDENTITY_INSERT [dbo].[Productoes] OFF
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.DetalleVentas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 04/11/2020 20:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompraId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[PrecioCompra] [decimal](18, 2) NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.DetalleCompras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.Compras_dbo.Proveedors_ProveedorId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Compras_dbo.Proveedors_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_dbo.Compras_dbo.Proveedors_ProveedorId]
GO
/****** Object:  ForeignKey [FK_dbo.Compras_dbo.Usuarios_UsuarioId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Compras_dbo.Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_dbo.Compras_dbo.Usuarios_UsuarioId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleCompras_dbo.Compras_CompraId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleCompras_dbo.Compras_CompraId] FOREIGN KEY([CompraId])
REFERENCES [dbo].[Compras] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_dbo.DetalleCompras_dbo.Compras_CompraId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleCompras_dbo.Productoes_ProductoId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleCompras_dbo.Productoes_ProductoId] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_dbo.DetalleCompras_dbo.Productoes_ProductoId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleVentas_dbo.Productoes_ProductoId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleVentas_dbo.Productoes_ProductoId] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_dbo.DetalleVentas_dbo.Productoes_ProductoId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleVentas_dbo.Ventas_VentaId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleVentas_dbo.Ventas_VentaId] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_dbo.DetalleVentas_dbo.Ventas_VentaId]
GO
/****** Object:  ForeignKey [FK_dbo.Productoes_dbo.Categorias_CategoriaProductoId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[Productoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Productoes_dbo.Categorias_CategoriaProductoId] FOREIGN KEY([CategoriaProductoId])
REFERENCES [dbo].[Categorias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productoes] CHECK CONSTRAINT [FK_dbo.Productoes_dbo.Categorias_CategoriaProductoId]
GO
/****** Object:  ForeignKey [FK_dbo.Ventas_dbo.Usuarios_UsuarioId]    Script Date: 04/11/2020 20:59:51 ******/
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Usuarios_UsuarioId]
GO
